.todos-table {
  width: 70%;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
}
* .back-todo {
  width: 10em;
}

select {
  padding: 0.78rem;
}

#project-name {
  padding: 0.65rem !important;
}